.floatingButtonContainer {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
  }
  
  .mainButton {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
    color: black;
    border: solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .mainButton:hover {
    background-color: grey;
    transform: scale(1.1);
  }
  
  .optionsContainer {
    position: absolute;
    bottom: 70px; 
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: opacity 0.3s ease, transform 0.3s ease;
    pointer-events: none; 
  }
  
  .expanded {
    opacity: 1;
    transform: scaleY(1);
    pointer-events: auto; 
  }
  
  .optionButton {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.634); /* Semi-transparent background */
    color: black;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    cursor: pointer;
    backdrop-filter: blur(10px); /* Glass-like blur effect */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Slight shadow for depth */
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  
  
  .optionLabel {
    position: absolute;
    right: 70px;
    background-color: rgba(255, 255, 255, 0.6); /* Semi-transparent background */
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1.5rem;
    white-space: nowrap;
    opacity: 0;
    backdrop-filter: blur(8px); /* Glass-like blur effect */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    transition: opacity 0.3s ease;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  
  .optionButton:hover .optionLabel {
    opacity: 1;
  }
  
  /* Mobile responsiveness */
  @media (max-width: 600px) {
    .floatingButtonContainer {
      bottom: 10px;
      right: 10px;
    }
  
    .mainButton {
      width: 50px;
      height: 50px;
      font-size: 20px;
    }
  
    .optionButton {
      width: 50px;
      height: 50px;
    }
  
    .optionLabel {
      right: 60px;
      font-size: 12px;
    }
  }
  